# .gitignore

# Entorno virtual
venv/
env/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Base de datos (opcional, pero recomendado no subirla si solo es local)
db.sqlite3

# Archivos de sistema
.DS_Store